.todo-list {
    background-color: #D1D0D0;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    min-height: 300px;
}

.modal-header, .modal-body {
    color: black;
}

.todo-entry {
    padding: 4px;
    margin: 4px;
}