{% extends 'base.html' %}
{% block head %}
<title>Pomodoro Timer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/pomodoro.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Pomodoro Timer</h1>
    <div class="timers">
        <div id="study-timer" class="timer">25:00</div>
        <div id="rest-timer" class="timer">05:00</div>
    </div>
    <div class="buttons">
        <button id="start">Start</button>
        <button id="pause">Pause</button>
        <button id="reset">Reset</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/src/pomodoro.js') }}"></script>
{% endblock %}
